.logo {
    float: right;
    width: 100px;
    border-radius: 48%;

}
.left section {
    display: flex;
    gap: 10px;
}

.nav-button {
    background-color: transparent;
    padding: 6px 12px;
    font-size: 24px;
    cursor: pointer;
    color: black;
    border: none;
    
}

.nav-button:hover {
    background-color: #716d6d7e;
}


body {
  background: url("/project/static/cri.avif") no-repeat center center fixed;
  background-size: cover;
}
.news-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.703);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.778);
}

.news-item {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.news-item img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
}

.news-item h3 {
  margin: 0 0 10px;
}

.news-item a {
  color: #007bff;
  text-decoration: none;
}