.logo {
    float: right;
    width: 100px;
    border-radius: 48%;

}
.left section {
    display: flex;
    gap: 10px;
}

.nav-button {
    background-color: transparent;
    padding: 6px 12px;
    font-size: 24px;
    cursor: pointer;
    color: black;
    border: none;
    
}

.nav-button:hover {
    background-color: #716d6d7e;
}


body {  
  background-color: rgb(220, 229, 244);
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

.news-container {
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
}

.news-container div {
  background: #ffffff4d;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
}

.news-container img {
  width: 100%;
  height: auto;
}

.news-container h2 {
  font-size: 16px;
  margin: 10px 0;
}

.news-container p {
  font-size: 14px;
  color: #555;
}

.news-container a {
  color: blue;
  text-decoration: none;
}

.news-container a:hover {
  text-decoration: underline;
}