.logo {
    float: right;
    width: 100px;
    border-radius: 50%;

}
.left section {
    display: flex;
    gap: 10px;
}

.nav-button {
    background-color: transparent;
    padding: 6px 12px;
    font-size: 24px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    
}

.nav-button:hover {
    background-color: #716d6d7e;
}



body {
    background: url("../static/game.webp") no-repeat center center fixed;
    background-size: cover;
    
}
h1{
    color: white; text-align: center;
}

.game-container {
    display:block;
    gap: 20px;
}

.news-article {
    border: 1px solid #e6dcdc4f;
    padding: 50px;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 700px;
    text-align: center;
    background-color: rgba(71, 78, 100, 0.249);
    color: white;
}

.news-article img {

    width: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto 15px auto;
    border-radius: 6px;
}

.loading {
    color: #ccc;
}

@media (max-width: 480px) {
  .logo {
    width: 70px;
  }
}  