body {
  background: url("/project/static/social.jpg") no-repeat center center fixed;
  background-size: cover;
}
.news-card {
  border: 1px solid #cccccc42;
  padding: 50px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.395);
  max-width: 700px;
  text-align: center;
  background-color: rgba(246, 243, 243, 0.395);
}

.news-image {
  width: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto 15px auto;
  border-radius: 6px;
}

.news-title {
  font-size: 18px;
  margin: 10px 0;
}

.news-description {
  font-size: 14px;
  color: #555;
}