  body {
    background: url("/project/static/social.jpg") no-repeat center center fixed;
    background-size: cover;
  }
  
  .news-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
  }

  .news-card {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    background-color: #fefefe81;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }

  .news-card h3 {
    margin: 0 0 10px;
    font-size: 20px;
  }

  .news-card a {
    text-decoration: none;
    color: #0077cc;
  }

  .news-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  h2 {
    color: #161515da;
  }